/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-around;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin-left: 15px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-top: 50%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

#logo img {
    width: 62px;
    height: 19px;
    padding: 30px 50px;
}

.menu {
    display: flex;
    width: 328px;
    padding: 0px 25px;
    align-items: center;
    gap: 68px;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu a {
    width: 113px;
    height: 5px;
    margin-bottom: 14px;
    padding: 25px 0;
}

.menu a:hover {
    border: 2px solid #0065FC;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #0065FC;
}

.menu span {
    padding: 25px 0;
}

.main-header {
    display: flex;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 377px;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    margin-top: 35px;
    margin-bottom: 35px;
}

.search-bar span {
    display: flex;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-bar .fa-solid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    width: 50px;
    height: 45px;
}

.search-bar input {
    display: flex;
    font-size: 1em;
    align-items: center;
    font-weight: 700;
    height: 45px;
    border: none;
}

.search-bar button {
    color: white;
    display: flex;
    padding: 15px 15px;
    align-items: center;
    font-weight: 700;
    height: 45px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background: #0065FC;
}

.filterbar {
    display: flex;
    height: 50px;
    align-items: center;
    font-weight: 700;
    gap: 15px;
}
.filterbar span {
    display: flex;
    font-size: 1em;
}

.filterbar button {
    font-weight: bold;
    display: flex;
    height: 40px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
}

.filterbar button:hover {
    background-color: #DEEBFF;
}

.filterbar span {
    background: var(--blue-light, #DEEBFF);
}

.filterbar i {
    width: 22px;
    font-size: 22px;
}

.infobar {
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.infobar i {
    align-items: center;
    align-self: stretch;
    font-size: 24px;
    background-color: #F2F2F2;
    border: black;
}

section .hebergements {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}

.hebergements h2 {
    font-size: 2em;
    font-weight: 700;
    margin-left: 15px;
    justify-content: center;
}

.hebergements h3 {
    font-size: 1em;
    font-weight: 700;
    gap: 4px 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.hebergements p {
    font-size: 1em;
    font-weight: 400;
    gap: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.hebergements .euro {
    font-weight: 700;
}

.conteneur {
    display: grid;
    flex-direction: row;
    grid-template-columns: 250px 250px 250px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    margin-bottom: 30px;
}

article .card {
    background-color: #FFF;
}

.hebergements img {
    min-width: 240px;
    max-width: 240px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-title {
    font-size: 2em;
    font-weight: 700px;
    gap: 4px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.card-rating {
    margin-left: 15px;
}

.hebergements-cards .neutral-star {
    color: var(--main-bg-color);
}

input {
    margin-left: 15px;
}

section .activités {
    margin: 30px;
}

.activités h2 {
    font-size: 2em;
    margin-left: 50px;
}

.activités img {
    width: 280px;
    height: 300px;
}

.card-title {
    font-size: 1em;
    font-weight: 700;
}

.activités .conteneur {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.activités h3 {
    margin: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    margin-top: 35px;
    margin-bottom: 48px;
}
