/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    margin-bottom: 30px;
}

#logo img {
    width: 62px;
    height: 19px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65px;
    height: 19px;
}

.menu a {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
}

.menu a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
    margin-bottom: 35px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heading h1 {
    font-size: 22px;
    margin: 0;
}

.heading p {
    font-size: 16px;
    margin: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 335px;
    border-radius: 15px;
    height: 49px;
    background: #FFF;
    border: 1px solid #F2F2F2;
}

.search-bar span {
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-bar .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    height: 49px;
}

.search-bar input {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    height: 49px;
    width: 100%;
    border: none;
    padding: 0 10px;
    margin-bottom: 0;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    height: 49px;
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    border: 0;
    outline: 1px solid #F2F2F2;
}

.search-bar button .fa-solid {
    display: none;
}

.filterbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-items: center;
    gap: 15px;
}

.filterbar span {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    gap: 30px;
}

.filterbar .bouton {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filterbar button {
    font-weight: bold;
    display: flex;
    padding: 6px 19px;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    height: 50px;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: #FFFFFF;
}

.filterbar .fa-solid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}

.filterbar button:hover {
    background-color: #DEEBFF;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infobar i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 16px;
    height: 16px;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
}

.infobar span {
    font-size: 16px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding-bottom: 0;
}

.hebergements h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
    margin-bottom: 0;
}

.hebergements .container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
}

.hebergements .card {
    height: 235px;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px 0px;
}

.hebergements .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 130px;
}

.hebergements .card-content {
    width: 95%;
    height: auto;
    position: relative;
    padding-left: 10px;
    flex-direction: row;
}

.hebergements-cards .card-txt {
    height: 75px;
}

.hebergements .card-title {
    font-size: 16px;
    margin: 3px 0;
    line-height: 18px;
}

.hebergements .card-subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.hebergements .card-subtitle .euro {
    gap: 0;
}

.hebergements .card-rating {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 8px;
    position: absolute;
}


/****** Populaires ***********/
#populaires {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-bottom: 0;
}

.populaires-cards .card {
    display: flex;
    margin: 30px;
    height: 150px;
    box-shadow: 0px 1px 10px 0px;
}

.populaires-cards img {
    width: 33%;
    height: 149px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 138px;
}

.populaires-cards .card-txt {
    height: 125px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activites ***********/
.activites {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.activites h2 {
    margin: 30px;
}

.activites-cards {
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding: 0 30px;
    gap: 30px;
}

.activites-cards a {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 435px;
    border:1px solid transparent;
}

.activites .card {
    padding: 0;
}

.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height : 365px;
}

.activites-cards .card-content {
    padding-left: 15px;
    display: flex;
    box-sizing: border-box;
    height: 65px;
}

.activites-cards .card-title {
    margin-top: 20px;
}


/****** Footer ***********/
footer {
    width: 100%;
}

footer .conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    background-color: #F2F2F2;
    padding: 20px 50px;
    margin-top: 35px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-box h3 {
    margin-bottom: 0;
}

.footer-box ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

li {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-bottom: 15px;
}
