/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    align-items: flex-start;
    gap: 35px;
}

.main-container {
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    height: 64px;
    margin-left: 50px;
    margin-right: 50px;
}

#logo img {
    width: 62px;
    height: 19px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    gap: 65px;
    height: 19px;
    width: 100%;
}

.menu a {
    padding: 15px 0;
}

.menu a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 93%;
}

.headline h1 {
    font-size: 22px;
    margin-bottom: 0;
}

.headline p {
    font-size: 16px;
    gap: 8px;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 335px;
    border-radius: 15px;
    height: 49px;
    background: #FFF;
}

.search-bar span {
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-bar .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    height: 49px;
}

.search-bar input {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 700;
    height: 49px;
    width: 100%;
    border: none;
    padding: 0 0;
    margin-bottom: 0;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background: #0065FC;
}

.search-bar button .fa-solid {
    display: none;
}

.filterbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-items: center;
    gap: 15px;
}

.filterbar span {
    display: flex;
    font-size: 2em;
    font-weight: 700;
    gap: 30px;
}

.filterbar .bouton {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filterbar button {
    font-weight: bold;
    display: flex;
    padding: 4px 19px;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
}

.filterbar .fa-solid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}

.filterbar button:hover {
    background-color: #DEEBFF;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infobar i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 16px;
    height: 16px;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
}

.infobar span {
    font-size: 16px;
}

/****** Hebergements And Populaires ***********/
main {
    margin: auto;
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
    margin-bottom: 0;
}

.hebergements .conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    padding-bottom: 30px;
    gap: 30px;
    border-radius: 20px;
}

.hebergements .card {
    box-sizing: border-box;
}

.hebergements img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
}

.hebergements .card-content {
    width: 100%;
    padding-left: 15px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements .card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements .card-subtitle .euro {
    gap: 0;
}

.hebergements .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.populaires-cards .card {
    display: flex;
    margin: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activites ***********/
.activites {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.activites h2 {
    margin: 30px;
}

.activites-cards {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;
    margin: 0 30px;
    gap: 30px;
}

.activites .card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 18rem;
    border-radius: 20px;
    padding: 0;
}

.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    height : 355px;
    object-fit: cover;
    object-position: center;
}

.activites-cards .card-content {
    padding-left: 15px;
    display: flex;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin-top: 20px;
}


/****** Footer ***********/
footer {
    width: 100%;
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    background-color: #F2F2F2;
}

h3 {
    font-size: 1,5em;
}

footer {
    width: 93%;
    margin: 0 50px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 350px;
}

.footer-box h3 {
    margin-bottom: 0;
}

.footer-box ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

li {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-bottom: 15px;
}
