/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen AND (max-width: 1024px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    
    body {
        width: 100%;
        background-color: blueviolet;
    }
    
    /****** Header ***********/   
    .main-header {
        width: 100%;
        display: flex;
        align-items: stretch;
        margin-left: 50px;
        height: 64px;
    }

    #logo {
        max-width: 62px;
        height: 19px;
        margin: 30px 0;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
        margin-right: 50px;
    }
    
    .menu a:hover {
        border: 2px solid #0065FC;
        border-bottom: none;
        border-left: none;
        border-right: none;
        color: #0065FC;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 8px;
        gap: 35px;
        margin: 0 50px;
        width: 100%;
    }

    .headline h2 {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        margin-top: 0;
    }

    .headline p {
        margin-bottom: 0;
    }


    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin: 0 50px;
        margin-bottom: 50px;
    }

    .hebergements .conteneur {
        display: grid;
        grid-template-columns: 285px 285px 285px;
        gap: 30px;
        padding: 0 30px;
        padding-bottom: 30px;
        margin: 0;
    }

    .hebergements h2 {
        padding-bottom: 30px;
    }
    
    .hebergements article {
        height: 235px;
        box-sizing: border-box;
        justify-items: stretch;
    }

    .hebergements-cards a {
        width: 30%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        margin: 0 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /****** Activites ***********/
    section .activites {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 30px 50px;
    }

    .activites .card {
        display: flex;
        width: 265px;
        flex: 100;
        gap: 30px;
    }

    .activites .card img {
        display: flex;
        height: 295px;
    }

    /****** Footer ***********/
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 50px;
    }
    
    .conteneur {
        flex: 100;
        background-color: #F2F2F2;
    }
    
    .footer-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        width: 100%;
    }
    
    .footer-box h3 {
        margin-bottom: 0;
    }
    
    .footer-box ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    
    li {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-bottom: 15px;
    }
    
}