/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen AND (max-width: 1024px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    
    body {
        width: 100%;
        max-width: 1024px;
        margin: auto;
        background-color: violet;
    }

    
    /****** Header ***********/   
    .main-header {
        width: 90%;
        display: flex;
        align-items: stretch;
        height: 64px;
    }

    #logo {
        display: flex;
        flex-direction: row;
        margin: 30px 0;
        max-width: 62px;
        height: 19px;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
    }
    
    .menu a:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .headline h1 {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .headline p {
        margin-bottom: 0;
    }

    .filterbar {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filterbar span {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
    }

    .filterbar .bouton {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
    }
    .filterbar button {  
        display: flex;
        flex-direction: row;
        padding: 4px 10px;
        align-items: center;
        align-self: auto;
        font-size: 16px;
        font-weight: 600;
        gap: 8px;
    }

    /****** Hebergements And Populaires ***********/
    main {
        width: 100%;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 90%;
    }

    .hebergements .conteneur {
        display: grid;
        grid-template-columns: 0.30fr 0.30fr 0.30fr;
        justify-content: space-between;
        padding: 0 30px;
        padding-bottom: 30px;
    }

    .hebergements h2 {
        padding-bottom: 30px;
    }

    .hebergements .card {
        width: 100%;
        height: 245px;
    }
    
    .populaires {
        width: 90%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 45%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /****** Activites ***********/
    .activites {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .activites h2 {
        margin: 30px;
    }
    
    .activites-cards {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
    }

    .activites-cards a {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        max-height: 275px;
        width: 23%;
        flex: 100;
    }
    
    .activites-cards img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-sizing: border-box;
        width: 100%;
        height: 195px;
        object-fit: cover;
    }

    .activites-cards .card-title {
        margin-top: 20px;
        font-size: 14px;
    }

    /****** Footer ***********/
    footer {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .conteneur {
        flex: 100;
        background-color: #F2F2F2;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        width: 100%;
    }
    
    .footer-box h3 {
        margin-bottom: 0;
    }
    
    .footer-box ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    
    li {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-bottom: 15px;
    }
    
}